<div class="container mt-4">
    <form action="/product/{{product._id}}/updated?_method=PUT" method="post">
        <h3>Cập nhật sản phẩm</h3>
        <div class="mb-3 mt-3">
            <label for="name">Name:</label>
            <input type="seacch" class="form-control" value="{{product.name}}" id="name" placeholder="Enter name"
                name="name">
        </div>
        <div class="mb-3">
            <label for="price">Price:</label>
            <input type="number" class="form-control" value="{{product.price}}" id="price" placeholder="Enter price"
                name="price">
        </div>
        <div class="mb-3">
            <label for="desc">Description:</label>
            <textarea class="form-control" id="desc" placeholder="Enter describe"
                name="describe">{{product.describe}}</textarea>
        </div>
        <div class="mb-3">
            <label for="image">Image:</label>
            <input type="search" class="form-control" value="{{product.image}}" id="image" placeholder="Enter image"
                name="image">
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
</div>