<div class="container mt-3">
    <div class="row">
        {{#each products}}
        <div class="col-sm-3 pt-4">
            <div class="card p-2">
                <a href="/information/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="Card image" style="width:100%">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{this.trademark}}</h4>
                    <p class="card-text m-0">
                        <a href="/information/{{this.slug}}" class="card-link nav-link text-dark">{{this.name}}</a>
                    </p>
                    <p class="my-2 text-danger">{{this.price}}VNĐ</p>
                    <p class="d-flex m-0 justify-content-between">
                        <a href="#" class="btn btn-primary">Buy now</a>
                        <a href="#" class="btn btn-outline-warning">Add to cart</a>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>